
h1 {
    font-size: 100px;
    color: rgb(146, 5, 5);
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: normal;
}
aside{
    float: right;
    width: 20%
}
.separar{
    float: left;
    width: 80%
}
.centrado{text-align:center}
.justificado{text-align:justify}